@import "../../index.scss";
.book-tile {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-column-start: 1;
  grid-column-end: 5;
  position: relative;
  width: 100%;
  height: 270px;
  background-color: $black-color;
  &-white {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;
    width: 100%;
    height: 270px;
    background-color: $white-color;
    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 10px auto;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
    width: 100%;
    height: 100%;
  }
  &__img,
  &__categories,
  &__name,
  &__authors {
    margin: auto;
    color: $white-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  &__img_white,
  &__categories_white,
  &__name_white,
  &__authors_white {
    margin: auto;
    color: $black-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  &__img,
  &__img_white {
    height: 200px;
    width: 150px;
  }
  &__img_center,
  &__img_white_center {
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: auto;
  }
}
.mobile-btn_dark {
  background-color: $black-color;
  border: 1px solid $white-color;
  color: $white-color;
}
@media all and (max-width: 850px) {
  .book-tile {
    grid-template-columns: 1fr 1fr;
    &-white {
      grid-template-columns: 1fr 1fr;
      &__content {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
    &__content {
      grid-template-columns: 1fr 1fr;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &__categories,
    &__name,
    &__authors,
    &__categories_white,
    &__name_white,
    &__authors_white {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    &__categories,
    &__categories_white {
      margin: 20px auto auto 0;
    }
    &__name,
    &__name_white {
      margin: 80px auto auto 0;
    }
    &__authors,
    &__authors_white {
      margin: 140px auto auto 0;
    }
    &__img_center {
      grid-column-start: 1;
    }
    &__img_white_center {
      grid-column-start: 1;
    }
  }
  .mobile-btn,
  .mobile-btn_dark {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
